doctype html
html
	head
		title= pageTitle
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(type='text/javascript', src='js/index.js')
		script(type='text/javascript') globals.paths =
			include ../tools/traect.json

		if debug
			script(type='text/javascript', src='js/debug.js')
			script(type='text/javascript').
				var debug = true;
		else
			script(type='text/javascript').
				var debug = false;
	body
		canvas#view

		.start
			.start__splash
				img.start__img(src='assets/background/SignatureTune.png')

				label.start__label.start__label_volume Уровень громкости
					input.start__volume(type='range', min='0', max='1', step='0.05', value='0.5')

				label.start__label Язык
					select.start__language
						option(value='ru') Русский
						option(value='en') English

				button.start__run Начать

		video(src='assets/video/intro2.mp4')
		.hint
		.black-fade

		if debug
			.debug__wrap
				.debug
					.debug__control

						.debug__control-data
							.debug__control-traects
								select.debug__control-traects-list(size='10')
								label.debug__control-traects-label
									input.debug__control-traects-break(type='checkbox', disabled='disabled')
									= breakpath

								div
									button.debug__button.debug__button_add= appendPath
									button.debug__button_remove= removePath

							.debug__control-objects
								select.debug__control-objects-list(size='4')
								button.debug__button.debug__button_remove-object(disabled='disabled')= detachObject
								hr
								select.debug__control-objects-anim(size='3')

								label.debug__control-traects-label
									input.debug__control-traects-speed(type='number', value='0', min='0')
									= speed

								button.debug__button.debug__button_remember-animation= setAnimation

						.debug__control-buttons
							hr
							button.debug__button.debug__button_toggle-overlay= switchOverlay
							hr
							button.debug__button.debug__button_save= saveToFile

					canvas.debug__view.debug__view_hidden